body{
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
header{
    background-color: #d5dee6;
    color :#464a4e;
    width: 100%;    
    padding: 20px;      
    margin-bottom: 40px;
}
h1 {
  margin: 0; 
   
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:left;

}
section{
    text-align: left;
    background-color: #d5dee6;
    color: #464a4e;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 40px;
    width: 80%; 
}
footer{
    color: #7ea6c9;
    a:hover{color: #7ea6c9;}
    a:active{color: #7ea6c9;}
    a:visited{color: #000000;}
}
ul{
    padding: 30px;      
}




